@page "/"
@inject MeterKloudClientApi Api; 
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container text-right">
    <AuthorizeView>
        <Authorized>
            <div>
                Hello, @context.User.Identity!.Name
                <a href="/logout" >Log out</a>
            </div>
        </Authorized>
        <NotAuthorized>
               <a href="/login">Log in/Sign up</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

<hr />
<a href="/SecurePage">SecurePage</a>

