@page "/LoginCompleted"
@attribute [Authorize]
<h3>Secure Page</h3>

<div class="container text-right">
    <AuthorizeView>
        <Authorized>
            <div>
                Hello, @context.User.Identity!.Name
                <a href="#" >Log out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="/Logout">Log in/Sign up</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

