@page "/SecurePage"
@attribute [Authorize]
<h3>Secure Page</h3>

<div class="container text-right">
    <AuthorizeView>
        <Authorized>
            <div>
                Hello, @context.User.Identity!.Name
                <a href="/logout" >Log out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href=".auth/login/github">Log in/Sign up</a>
        </NotAuthorized>
    </AuthorizeView>
</div>



@code {

}
